In [67]:
from sklearn import datasets
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LinearRegression

In [68]:
boston=datasets.load_boston()
X=boston.data
Y=boston.target

Y.shape

(506,)

In [69]:
df=pd.DataFrame(X)

In [70]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [71]:
df.columns=boston.feature_names

In [72]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [56]:
i=0
for name in df.columns:
    df [i] = df [name] ** 2
    i+=1

In [24]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,...,0.0,0.289444,43.230625,4251.04,16.728100,1.0,87616.0,234.09,157529.6100,24.8004
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,...,0.0,0.219961,41.229241,6225.21,24.672082,4.0,58564.0,316.84,157529.6100,83.5396
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,...,0.0,0.219961,51.624225,3733.21,24.672082,4.0,58564.0,316.84,154315.4089,16.2409
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,...,0.0,0.209764,48.972004,2097.64,36.750269,9.0,49284.0,349.69,155732.8369,8.6436
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,...,0.0,0.209764,51.079609,2937.64,36.750269,9.0,49284.0,349.69,157529.6100,28.4089

In [73]:
i=0
for name1 in df.columns:
    j=0
    for name2 in df.columns:
#         if i!=j:
        df [i+j+13] = df [name1] * df [name2]
        j+=1
    i+=1

In [75]:
df.shape

(506, 260)

In [76]:
x2=df.values

In [77]:
x2.shape

(506, 260)

In [78]:
x2_train,x2_test,y2_train,y2_test=model_selection.train_test_split(x2,Y,random_state=0)
x1_train,x1_test,y1_train,y1_test=model_selection.train_test_split(X,Y,random_state=0)

In [79]:
alg1=LinearRegression()
alg2=LinearRegression()
alg1.fit(x1_train,y1_train)
alg2.fit(x2_train,y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [80]:
y1_pred=alg1.predict(x1_test)

In [81]:
y2_pred=alg2.predict(x2_test)

In [82]:
train_score_1=alg1.score(x1_train,y1_train)
train_score_2=alg2.score(x2_train,y2_train)
test_score_1=alg1.score(x1_test,y1_test)
test_score_2=alg2.score(x2_test,y2_test)

In [83]:
print("Train score: ",train_score_1)
print("Test score: ",test_score_1)
print("Train score: ",train_score_2)
print("Test score: ",test_score_2)

Train score:  0.7697448370563938
Test score:  0.6353620786674623
Train score:  0.7302863067879879
Test score:  -11556682.542162409